@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

body {
    font-size: 15px;
    font-family: "Spartan", sans-serif;
}

header {
    background-image: url("C:/Users/vysakh%20v/Desktop/Web%20design/Project%200/social-proof-section-master/images/bg-pattern-top-desktop.svg");
    background-image: url("C:/Users/vysakh%20v/Desktop/Web%20design/Project%200/social-proof-section-master/images/bg-pattern-bottom-desktop.svg");
    width: 1440px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    color: hsl(300, 43%, 22%);
}

h2 {
    font-size: 16px;
    font-weight: 500;
    color: white;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    color: hsl(333, 80%, 67%);
}

p {
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    line-height: 1.5em;
    font-weight: 700px;
}

.maindiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10em;
    margin-right: 10px;
}


.div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.star img {
    width: 20px;
    margin-right: 10px;
}

#rtext p {
    color: hsl(300, 43%, 22%);
    margin-left: 25px;
    font-weight: 700;
}

#rbox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 100px;
    padding-left: 30px;
    padding-right: 60px;
}

#rbox2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 200px;
    padding-left: 30px;
    padding-right: 60px;
}

#rbox3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 24%, 96%);
    border-radius: 10px;
    margin-left: 300px;
    padding-left: 30px;
    padding-right: 100px;
}

.div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50%;
    padding: 30px;
}

.pimage img {
    border-radius: 50%;
    width: 50px;
}

.pname {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.pname h3 {
    margin-top: -10px;
}

.pbox1 {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
}

.pbox1 p {
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -20px;
}

.pbox2 {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 43%, 22%);
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 50px;
}

.pbox2 p {
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -20px;
}

.pbox3 {
    display: flex;
    flex-direction: column;
    background-color: hsl(300, 43%, 22%);
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 100px;
}

.pbox3 p {
    color: white;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -20px;
}

.attribution {
    font-size: 11px;
    align-items: center;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}